body{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: medium;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: black
}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	color: black
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#mapid {
	width: 100%;
	height: 800px;
}
