body{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: medium;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: black
}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	color: black
}

#mapid {
	width: 100%;
	height: 800px;
}
